// styles/element/index.scss
/* 只需要重写你需要的即可 */
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #4045DC,
    ),
  ),
);

// 如果只是按需导入，则可以忽略以下内容。
// 如果你想导入所有样式:
@use "element-plus/theme-chalk/src/index.scss" as *;

:root {
  --color-primary: #4045DC;
  --color-primary-light: #5a5ee6;
  --color-primary-dark: #2a2e9c;
  --color-primary-selection: #7e81e6;
  --color-layout-bg: #f5f5f5;
  --color-content-bg: #fff;
  --color-content: #000;
  --color-shadow: #1d23290d;

  *::selection {
    background-color: var(--color-primary-selection);
  }
}

:root.dark {
  --color-primary: #4045DC;
  --color-primary-light: #5a5ee6;
  --color-primary-dark: #2a2e9c;
  --color-primary-selection: #7e81e6;
  --color-layout-bg: #2e3033;
  //--color-layout-bg: #050505;
  --color-content-bg: #050505;
  --color-content: #fcfcfc;
  --color-shadow: #ffffff88;

  *::selection {
    background-color: var(--color-primary-selection);
  }
}

